/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_4 {
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
  padding:0;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4, .grid_1b,.grid_3b{
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
}
.grid-wrap{
	margin-right: 15px;
	margin-left: 15px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_4 .grid_1 {
  width: 23%;
}
.container_4 .grid_2{
  width: 48%;
}

.container_4 .grid_3 {
  width: 73%;
}

.container_4 .grid_4 {
  width: 98%;
}

.container_4 .grid_1b {
  width: 30%;
}
.container_4 .grid_3b{
  width: 66%;
}

/* No Spacing
----------------------------------------------------------------------------------------------------*/

.container_4.no-space { padding:0; width: 1180px; }
.container_4.no-space .grid_1 { width:25%; margin:0; }
.container_4.no-space .grid_2 { width:50%; margin:0; }
.container_4.no-space .grid_3 { width:75%; margin:0; }
.container_4.no-space .grid_4 { width:100%; margin:0; }

/* Misc Classes
----------------------------------------------------------------------------------------------------*/

.container_4.push-down .grid_1,
.container_4.push-down .grid_2,
.container_4.push-down .grid_3,
.container_4.push-down .grid_4 { margin-bottom:20px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_4:before,
.container_4:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_4:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_4 {
  zoom: 1;
}


/* Admin Pro Styling
----------------------------------------------------------------------------------------------------*/
.panel { margin-bottom:20px; }
.show-on-mobile { display:none; }
.show-on-tablet { display:none; }
#main-navigation {
	padding-right: 15px;
}
#search { width:348px; }
#search form { padding:17px 17px 0 0; }
#subpages ul { margin:0; }
.break-l {
	display: block;
}
.alert-wrapper .alert-text {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}