@import 'reset.css';
@import 'text.css';

/* Basic HTML
----------------------------------------------------------------------------------------------------*/

html,body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -6em;
}

#footer,#push {
	height: 6em;
	clear: both;
}

#footer .container_4 {
	font-size: 11px;
	padding-top: 12px;
}

a {
	text-decoration: none;
	color: #2a68a2;
}

a.red {
	color: #e83d0f;
}

a.yellow {
	color: #e8aa13;
}

a.green {
	color: #57a50b;
}

a:hover {
	color: #000;
}

small {
	font-size: 11px;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	-moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px;
}

input {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Misc Classes
----------------------------------------------------------------------------------------------------*/

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.float_right {
	float: right!important;
	margin: 0 !important;
}

.float_left {
	float: left;
}

/* Code
----------------------------------------------------------------------------------------------------*/

pre,code {
	font-size: 13px;
	font-family: Courier, Menlo, monospace;
	padding: 9px 13px 8px;
	margin: 0 0 15px;
	display: block;
}

pre,.notice {
	margin: 0 0 15px;
	background: #ffe;
	border: 1px solid;
	border-color: #eed #ccb #bba #ddc;
	overflow: auto;
	padding: 10px 0 10px 10px;
	color: #000;
}

* html pre {
	overflow: hidden;
	width: 97%;
}

code {
	background: #ff9;
}

*/ www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_4:before,
.container_4:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_4:after {
  clear: both;
}


/* Styling
----------------------------------------------------------------------------------------------------*/

body {
	background: #fff;
	color: #555;
}

#eyebrow-navigation {
	font-size: 15px;
	line-height: 15px;
	text-align: left;
	background-color: #8e949b;
	color: #d8dfe0;
	overflow: hidden;
	height: 36px;
	padding-top: 4px;
}
#eyebrow-navigation a.home{
	display: block;
	float: left;
	padding: 0;
}
#eyebrow-navigation a.home span{
	color: #fff;
	display: block;
	float: left;
	padding: 9px 10px 12px;
}

#eyebrow-navigation a.home span.tab{
	background-color: #fff;
	color: #000;
}
#eyebrow-navigation a.home:hover span{
	color: #90b1d4;
}
#eyebrow-navigation a.home:hover span.tab{
	color: #266eaa;
}
#eyebrow-navigation .user_nav{
	padding: 8px 12px 14px;
	font-size: 13px;
}

#eyebrow-navigation .user_nav a{
	padding: 3px 3px 5px;
	color: #fff;
}
#eyebrow-navigation .user_nav a:hover {
	color: #fff;
	background-color: #000;
}

.push-down {
	padding-bottom: 20px !important;
}

.header-wrap {   
	margin: 0 25px;
	padding-bottom: 1em;
	border-bottom: 1px solid #ebebeb;
}

#header {
    border-bottom: 1px solid #e1e1e1;
}
#header .container_4{
	margin-bottom: 0;
	padding-bottom: 0;
}
#header-holder{
	position: relative;
	 min-height: 70px;
}

#header h1 {
	margin-bottom: .1em;
	padding-top: 15px;
	color: #266eaa;
	padding-bottom: 15px;
}
#header h1 .org{
	display: block;
	font-size: 11px;
	color: #888;
	line-height: 13px;
	padding-left: 2px;
}

#main-navigation {
	position: absolute;
	right: 0;
	bottom: 0;
}

#main-navigation ul, #main-navigation li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#main-navigation {
	margin-bottom: 0;
}

#main-navigation li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#main-navigation li a {
	color: #266eaa;
	text-decoration: none;
	display: block;
	font-weight: bold;
	height: 38px;
	padding-top: 30px;
	padding-right: 11px;
	padding-left: 10px;
	background: url(../images/nav_bkg.gif) no-repeat right bottom;
	border-bottom: 1px solid #fff;
	font-size: 17px;
}
#main-navigation li.last a {
	background-image: none;
}
#main-navigation li a.active,#main-navigation li a.active:hover {
	color: #000;
	border-bottom: 1px solid #000;
}
#main-navigation li a:hover{
	background-color: #eee;
	border-bottom: 1px solid #999;
}

#search form {
	position: relative;
	float: right;
}

#search input.go {
	background: url('../images/search_go.png') no-repeat 0 0;
	width: 32px;
	height: 26px;
	border: none;
	text-indent: -9999px;
	position: absolute;
	top: 19px;
	right: 19px;
}

#subpages {
	background: #fff;
	min-height: 40px;
}

#subpages .subpage-wrap {
	margin: 0 2%;
}

#subpages ul, #subpages li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#subpages ul {
	margin: 0 20px;
	padding: 10px 0;
}

#subpages li {
	display: inline-block;
	padding: 0 15px 0 0;
}

#subpages li a {
	color: #535353;
	text-decoration: none;
	font-size: 11px;
	display: block;
}

#page-heading {
	color: #535353;
	padding: 15px 0 10px;
}

.title-crumbs {
	display: block;
	font-size: 11px;
	padding-top: 5px;
}

.pad-h1 {
	padding-top: 2.5em;
}

.title-crumbs h1 {
	margin-bottom: .3em;
}

.title-crumbs a {
	text-decoration: none;
	font-weight: bold;
}

#logo h2, #category_id{
	font-size: 15px;
	padding: 3px 5px 6px;
	color: #fff;
	background-color: #000;
	display: inline;
	font-weight: bold;
}

.title-event h2.grey {
	background-color: #b1b1b1;
}

.page-wrap {
	margin: 0 25px;
	padding: 0;
}

.intro {
	max-width: 1000px;
}
.pad-r{
	padding-bottom: 1em;
	padding-right: 2.5em;
}

/* ALERTS																		*/

/* ---------------------------------------------------------------------------- */

.alert-wrapper {
	font-weight: bold;
	font-size: 16px;
	width: 100%;
	padding: 17px 0 18px;
	margin-bottom: 5px;
}

.alert-wrapper.push-down {
	margin-bottom: 20px;
}

.alert-wrapper .alert-text {
	position: relative;
	line-height: 26px;
	min-height: 26px;
	padding: 0 30px;
	margin: 0 2%;
	background: url('../images/alert_icon_error.png') no-repeat top left;
}

.alert-wrapper .alert-text .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 26px;
	height: 26px;
	display: block;
	background: url('../images/alert_icon_close.png') no-repeat;
	text-indent: -9999px;
}

.push-down .alert-wrapper .grid_4 {
	margin-bottom: 0 !important;
}

.alert-wrapper.error {
	color: #E83D0E;
	background: #ffeeee url('../images/alert_pattern.png') repeat top left;
}

.alert-wrapper.error .alert-text {
	background: url('../images/alert_icon_error.png') no-repeat top left;
}

.alert-wrapper.warning, {
	color: #e8a911;
	background: #ffffd7 url('../images/alert_pattern.png') repeat top left;
}

.message {
	color: #e8a911;
	display: block;
	background: #ffffd7;
	display: none;
	border-bottom: 1px solid #ebebeb;
	padding: .5em;
	overflow: hidden;
}

.alert-wrapper.warning .alert-text {
	background: url('../images/alert_icon_warning.png') no-repeat top left;
}

.alert-wrapper.confirm {
	color: #54a306;
	background: #deffbd url('../images/alert_pattern.png') repeat top left;
}

.alert-wrapper.confirm .alert-text {
	background: url('../images/alert_icon_confirm.png') no-repeat top left;
}

.alert-wrapper.info {
	color: #2766a1;
	background: #dbeeff url('../images/alert_pattern.png') repeat top left;
}

.alert-wrapper.info .alert-text {
	background: url('../images/alert_icon_info.png') no-repeat top left;
}

#login-form .alert-wrapper {
	margin: 0 0 15px;
	padding: 8px 0;
}

#login-form .alert-wrapper .alert-text {
	font-size: 14px;
	margin: 0 10px;
}

/* PANELS																		*/

/* ---------------------------------------------------------------------------- */

.panel {
	background: #fff;
	border: 1px solid #ebebeb;
}
.panel.white{
	border: none;
}

.panel h4 {
	margin-bottom: 0;
}

.panel h2.cap, .panel h2.cap-static {
	line-height: 1;
	cursor: pointer;
	margin: 0;
	height: 27px;
	color: #999;
	font-size: 15px;
	padding: 12px 0 0 15px;
	position: relative;
}

.panel h2.cap-static {
	cursor: auto;
}

.panel .content {
	margin: 0 5px 5px;
	padding: 10px 10px 1px;
	border-top: 1px solid #ebebeb;
}

.panel .content.no-cap {
	border: none;
	margin-top: 5px;
}

.panel.form {
	background-color: #f8f8f8;
}

/* comments panel */

#message {
	margin-top: 0;
	padding-top: 0;
}

#message span {
	display: block;
	border: 1px solid #ebebeb;
	padding: .5em .2em;
}

.comment {
	background: url(../images/grey-pix.gif) repeat-x 0 bottom;
	padding-bottom: .1em;
	margin-bottom: .6em;
	overflow: hidden;
}

.comment.last {
	background-image: none;
}

.author {
	color: #555;
	font-weight: bold;
}

.comment .date-added {
	color: #999;
	padding-top: 0;
	margin-top: -.8em;
	font-size: 12px;
	padding-bottom: 0;
	margin-bottom: .8em;
}

.add-comment {
	border: 1px solid #ddd;
	padding: 3px;
	margin-bottom: 1em;
}

/* TABLES																		*/

/* ---------------------------------------------------------------------------- */

.panel table.styled {
	border: 1px solid #e3e3e3;
	margin: 0 0 10px;
	width: 100%;
}
.panel table.styled a:hover{
	text-decoration: underline;
}
.panel table.styled th, .panel table.styled td {
	padding: 6px 11px;
}

.panel table.styled thead tr th, .panel table.styled tfoot tr th {
	border-bottom: 1px solid #e3e3e3;
	font-size: 12px;
	color: #5d676a;
}

.panel table.styled thead tr th {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #E3E9EB),color-stop(1, #F0F3F4));
	background-image: -moz-linear-gradient(center bottom,#E3E9EB 0%,#F0F3F4 100%);
	-moz-box-shadow: inset 2px 0 0 #fff;
	-webkit-box-shadow: inset  2px 0 0 #fff;
	box-shadow: inset inset 2px 0 0 #fff;
	border-right: 1px solid #d5dcdf;
}

.panel table.styled thead tr .header {
	padding-right: 23px;
	cursor: pointer;
}

.panel table.styled tbody td {
	-moz-box-shadow: inset 0 1px 0 #fff, inset 2px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff, inset 2px 0 0 #fff;
	box-shadow: inset 0 2px 0 #fff, inset 2px 0 0 #fff;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	color: #5d676a;
	background-color: #fff;
	vertical-align: top;
}

.panel table.styled tbody tr.odd td {
	background-color: #f8f8f8;
}
.panel table.styled tbody tr:hover td{
	background-color: #ffffea;
}

.panel table.styled thead tr .headerSortUp {
	background-image: url(../images/asc.png), -webkit-gradient(linear,left bottom,left top,color-stop(0, #d5dcdf),color-stop(1, #E3E9EB));
	background-image: url(../images/asc.png), -moz-linear-gradient(center bottom,#d5dcdf 0%,#E3E9EB 100%);
	background-position: top right;
}

.panel table.styled thead tr .headerSortDown {
	background-image: url(../images/desc.png), -webkit-gradient(linear,left bottom,left top,color-stop(0, #d5dcdf),color-stop(1, #E3E9EB));
	background-image: url(../images/desc.png), -moz-linear-gradient(center bottom,#d5dcdf 0%,#E3E9EB 100%);
	background-position: top right;
}

table.styled .checkbox-row {
	text-align: center;
	width: 10px;
}

table.styled .options-row {
	text-align: center;
	width: 100px;
    padding: 0;
	white-space: nowrap;
}

table.styled .center {
	text-align: center;
}

div.pager {
	position: relative;
	text-align: right;
	margin: 10px 0 20px;
}

div.pager span {
	padding: 0 5px;
}

div.pager input.prev {
	width: auto;
	margin-right: 10px;
}

div.pager input.next {
	width: auto;
	margin-left: 10px;
}

div.pager input {
	font-size: 8px;
	width: 50px;
	border: 1px solid #330000;
	text-align: center;
}

div.pager .pagesize {
	width: 61px;
	vertical-align: super;
}

div.pager .chzn-container {
	margin: 0 7px 0 0;
	min-width: 61px;
vertical-align: top;
	text-align: center;
}

div.pager .pagedisplay {
	width: 35px;
	margin: 0 7px 0 0;
	font-size: 13px;
	border: none;
	cursor: default;
	vertical-align: super;
	background-color: #fff;
}

.content.gallery div.pager .pagedisplay{
	background-color: #ebebeb;
}

div.pager .button.next,
div.pager .button.prev,
div.pager .button.first,
div.pager .button.last {
	position: relative;
	top: 0;
	margin: 0 3px 0 0;
}

div.pager .button img {
	display: block;
	margin: 0;
	padding: 2px;
}

div.pager .table-options {
	position: absolute;
	top: 0;
	left: 0;
}

.panel table .icon-button {
	margin: 0 5px;
	width: 21px;
	height: 21px;
	display: inline-block;
	text-indent: 9999px;
	overflow: hidden;
	opacity: 0.4;
}
.panel table .icon-button:hover{
	opacity: 0.6;
}

.panel table .icon-button.edit {
	background: url(../images/admin-icons.png) no-repeat -21px 0;
}
.panel table .icon-button.send {
	background: url(../images/admin-icons.png) no-repeat -42px 0;
}

.panel table .icon-button.delete {
	background: url('../images/admin-icons.png') no-repeat 0 0;
}
.panel table .icon-button.link {
	background: url('../images/admin-icons.png') no-repeat -63px 0;
}

/* TABS																			*/

/* ---------------------------------------------------------------------------- */

ul.tabs {
	margin: 5px 5px 0 5px;
	padding: 0;
	list-style: none;
	height: 42px;


/*--Set height of tabs--*/
	width: 100%;
}

ul.tabs:after {
	clear: both;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 42px;
	line-height: 42px;
	overflow: hidden;
	position: relative;
	background: #dcdcdc;
}

ul.tabs li a {
	text-decoration: none;
	color: #555;
	text-shadow: 1px 1px 0 #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 0 20px;
	outline: none;
}

ul.tabs li a:hover {
	background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover {
	

/*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff;


/*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	overflow: hidden;
	clear: both;
	width: 100%;
	background: #fff;
}

.content.tabbed {
	margin: 0 5px 5px 5px;
}

/* CARD */

/* ---------------------------------------------------------------------------- */

.card-options {
	
}

.card-options .icon-button {
	margin: 0 10px 0 0;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	opacity: 0.4;
	background: url(../images/action-icons.png) no-repeat 0 0;
    line-height: 26px;
    vertical-align: middle;
}

.card-options a.icon-button:hover {
    opacity: 0.6;
}

.card-options .icon-favorite {
	margin-right: 3px;
}
.card-options .icon-favorite{
    background-position: 0px 0;
}
.icon-button.icon-favorite.full,.card-options a.icon-favorite:hover{
    background-position: -26px 0;
}

.card-options .icon-send {
	background-position:  0 -26px;
}

.card-options .icon-flag {
	background-position:  -26px -26px;
}
.icon-button.icon-flag.full,a.icon-button.icon-flag:hover{
    background-position: -26px -52px;
}
.card-options .icon-comment {
	background-position: -52px 0;
	margin-right: 3px;
}
.icon-button.icon-comment.full, a.icon-button.icon-comment:hover{
    background-position: -52px -26px;
}

.card-options .counter {
    display: inline-block;
	padding-right: 8px;
	width: 1.2em;
}

/* GALLERY																		*/

/* ---------------------------------------------------------------------------- */

.content.gallery {
	padding-right: 10px !important;
	background-color: #ebebeb;
}

.gallery-wrap {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
	padding: 0;
	margin: 0 0 20px;
}

.gallery-wrap:after {
	content: ' ';
	clear: both;
	display: block;
}

.gallery-pager {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10000px;
}

.gallery-item {
	position: relative;
	float: left;
	margin: 0 10px 10px 0;
	width: 155px;
	height: 100px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-item .tag {
	top: 0;
	left: -12px;
	width: 10px;
	height: 20px;
	background-color: #000;
	z-index: 1000;
	position: absolute;
}

.gallery-item img {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ccc;
}

.gallery-item .item-options {
	bottom: 0;
	right: 0;
	position: absolute;
	background: url('../images/gallery_hover_bg.png') repeat;
	padding: 5px 3px 5px 8px;
}

.gallery-item .icon-button {
	margin: 0 5px 0 0;
	width: 21px;
	height: 21px;
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
}

.gallery-item .icon-button.edit {
	background: url('../images/gallery_icon_edit.png') no-repeat center center;
}

.gallery-item .icon-button.delete {
	background: url('../images/gallery_icon_delete.png') no-repeat center center;
}

.gallery-item .preview {
	background: url('../images/gallery_icon_preview.png') no-repeat center center;
}

.gallery-item .checkbox-block {
	top: 0;
	left: 0;
	position: absolute;
	background: #fff;
	padding: 5px 7px;
	line-height: 5px;
}

.gallery-item .checked-layer {
	position: absolute;
	top: 0;
	left: 0;
	-moz-box-shadow: inset 5px 5px 0 #60a918, inset -5px -5px 0 #60a918;
	-webkit-box-shadow: inset 5px 5px 0 #60a918, inset -5px -5px 0 #60a918;
	box-shadow: inset 5px 5px 0 #60a918, inset -5px -5px 0 #60a918;
	width: 100%;
	height: 100%;
	display: none;
	background: url('../images/gallery_checked_bg.png') repeat;
}

.gallery .pager {
	position: relative;
	text-align: right;
	margin: -5px 10px 20px 0;
}

.gallery .gallery-options {
	position: absolute;
	top: 0;
	left: 0;
}

/* FORMS																		*/

/* ---------------------------------------------------------------------------- */

form.styled {
	margin-top: .5em;
}

form.styled label.error, label.error {
	display: block;
	padding-top: .5em;
	padding-bottom: 0;
}

form.styled label.align-left, form.styled .non-label-section {
	display: block;
	margin-left: 155px;
	padding: 0 0 20px 20px;
	border-left: 1px solid #ddd;
	position: relative;
}

form.styled label span, form.styled .non-label-section span {
	font-weight: bold;
	font-size: 12px;
	color: #666;
	position: absolute;
	top: 0;
	left: -155px;
}

form.styled label:after, form.styled .non-label-section:after {
	content: "";
	clear: both;
}

form.styled label span.browse {
	font-size: 13px;
	line-height: 17px;
	height: 15px;
	padding: 2%;
	margin: 0;
	left: auto;
	top: 0;
	right: -1px;
}

form.styled input,
form.styled textarea, form.dialog input {
	border: 1px solid #aaa;
	background: #fff;
	font-size: 13px;
	line-height: 17px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 4px;
	margin: 0;
	color: #666;
	-moz-box-shadow: inset 1px 1px 4px #ddd;
	-webkit-box-shadow: inset 1px 1px 4px #ddd;
	box-shadow: inset 1px 1px 4px #ddd;
}
form.styled input[type=submit]{
	-moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px;
}
form.styled input.readonly {
	background: transparent;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

form.styled input:focus, form.styled textarea:focus, form.dialog input:focus {
	border: 1px solid #4d90fe;
	outline: none;
}

form.styled .l, form.dialog .l {
	width: 96%;
}

form.styled  .m {
	width: 50%;
}

form.styled .check-pair {
	vertical-align: middle;
}

form.styled label input.file {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 0;
}

/*form.styled select {
	width: 100%;
}*/

form.styled .chzn-single {
}
form.styled .chzn-single span {
	position: relative;
	font-weight: normal;
	left: 0;
}

form.styled.login label,form.styled.login .non-label-section {
	display: block;
	margin-left: 80px;
	padding: 0 0 20px 20px;
	border-left: none;
	position: relative;
}

form.styled.login label span, form.styled.login .non-label-section span {
	left: -80px;
}

form.styled.login .non-label-section {
	padding-bottom: 0;
}

form.styled.login label span.error {
	color: red;
	position: relative;
	margin-left: 90px;
	font-weight: normal;
	font-style: normal;
}

.red, .error, span.error {
	color: red;
}

span.error {
	
}

div.error {
	display: none;
}

.list-col {
	display: inline-block;
	width: 50%;
	overflow: visible;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #ebebeb;
}
.progress-bar {
	display: block;
	position: relative;
	margin: 0 0 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #aaa;
	height: 8px;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #D8D8D8),color-stop(1, #C7C7C7));
	background-image: -moz-linear-gradient(center bottom,#D8D8D8 0%,#C7C7C7 100%);
	line-height: 1px;
}

.progress-bar .bar {
	display: block;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
	position: absolute;
	top: -1px;
	left: -1px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #666;
	text-indent: -9999px;
	height: 8px;
	background: #666 url('../images/progress_bar_bg.png') repeat-x;
}

.progress-bar .bar.red {
	border: 1px solid #e83d0f;
	background: #e83d0f url('../images/progress_bar_bg.png') repeat-x;
}

.progress-bar .bar.blue {
	border: 1px solid #2766a1;
	background: #2766a1 url('../images/progress_bar_bg.png') repeat-x;
}

.progress-bar .bar.green {
	border: 1px solid #54a306;
	background: #54a306 url('../images/progress_bar_bg.png') repeat-x;
}

.progress-bar .bar.yellow {
	border: 1px solid #e8a911;
	background: #e8a911 url('../images/progress_bar_bg.png') repeat-x;
}

.progress-bar .bar.white {
	border: 1px solid #aaa;
	background: #fff url('../images/progress_bar_bg.png') repeat-x;
}

.favorite-bar {
	position: relative;
	background: url(..images/icon-star-s.png) no-repeat left center;
	margin-top: 1em;
	margin-left: 40px;
	margin-bottom: 1em;
}

.favorite-bar span.progress-icon {
	font-weight: bold;
	font-size: 12px;
	color: #666;
	position: absolute;
	top: -2px;
	background: url(../images/icon-star-s.png) no-repeat;
	left: -40px;
	padding-left: 20px;
}

.favorite-bar .progress-bar {
	margin-bottom: 0;
	margin-top: 0;
	line-height: 12px;
}

/* ACCORDIONS																	*/

/* ---------------------------------------------------------------------------- */

.accordion{
	margin-bottom: 20px;
	background-color: #e5e9eb;
	border: 1px solid #e3e3e3;
}
.accordion h3{
	padding: 10px 15px;
	margin-bottom: 0;
}

.accordion-block {
	background-color: #fff;
	margin: 3px;
	padding: 0;
}
.accordion-block h3 {
	opacity: 1;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	padding: 10px 15px;
	cursor: pointer;
	background: url(../images/accordion.png) no-repeat right 0;
	margin: 0;
	border: 1px solid #eee;
}
.lod, .cards{
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-top: none;
}
.m-top{
	margin-top: 15px;
}
.accordion-block h3.open{
	background-position: right -36px;
	border-color:#ddd;
}
.accordion-block h3:hover {
	border-color:#ccc;
}

/* BUTTONS																		*/

/* ---------------------------------------------------------------------------- */

button {
	/* Disables default styling */
	/* You need to set font, font size and cursor for buttons */
    border: none;
	background:#606a6d;
	cursor: pointer;
	color:#fff !important;
	width:auto !important;
	font: bold 11px/11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
}

button, .button { 
text-decoration:none; margin: 0 6px 0 0; padding: 7px 9px; display:inline-block; -moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px; color:#fff;font-weight: bold;
}
.button:hover, button:hover {
	color: #fff;
	box-shadow: none;
}

.button.small {
	font-size: 11px;
	line-height: 11px;
	padding: 7px 9px;
}

.button.medium {
	font-size: 12px;
	line-height: 12px;
	padding: 8px 10px;
}

.button.large {
	font-size: 15px;
	line-height: 15px;
	padding: 6px 12px 9px;
	-moz-border-radius:18px; -webkit-border-radius:18px; border-radius:18px;
}.button:hover, .button.hover { background:#606a6d; }

.button,button.grey {
	background: #606a6d;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #606a6d), color-stop(1, #909799) );
	background-image: -moz-linear-gradient( center bottom, #606a6d 0%, #909799 100% );
	border: 1px solid #606a6d;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2) !important;
	color: #fff !important;
	width: auto !important;
}

.button:hover, .button.hover {
	background: #606a6d;
}

.button.blue, button {
	background:#2a68a2;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #2a68a2), color-stop(1, #6e98c0) );
	background-image: -moz-linear-gradient( center bottom, #2a68a2 0%, #6e98c0 100% );
	border:1px solid #2a68a2;
} .button.blue:hover, .button.hover.blue { background:#2a68a2; }

.button.red {
	background: #E83D0E;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E83D0E), color-stop(1, #F07C5B) );
	background-image: -moz-linear-gradient( center bottom, #E83D0E 0%, #F07C5B 100% );
	border: 1px solid #E83D0E;
}

.button.red:hover, .button.hover.red {
	background: #E83D0E;
}

.button.yellow {
	background: #e8aa13;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #e8aa13), color-stop(1, #f0c55f) );
	background-image: -moz-linear-gradient( center bottom, #e8aa13 0%, #f0c55f 100% );
	border: 1px solid #e8aa13;
}

.button.yellow:hover, .button.hover.yellow {
	background: #e8aa13;
}

.button.green {
	background: #57a50b;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #57a50b), color-stop(1, #8dc159) );
	background-image: -moz-linear-gradient( center bottom, #57a50b 0%, #8dc159 100% );
	border: 1px solid #57a50b;
}

.button.green:hover, .button.hover.green {
	background: #57a50b;
}

.button.disabled {
	background: #ccc;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ccc), color-stop(1, #ccc) );
	background-image: -moz-linear-gradient( center bottom, #ccc 0%, #ccc 100% );
	border: 1px solid #ccc;
	cursor: default;
	display: ;
}

/* FOOTER																		*/

/* ---------------------------------------------------------------------------- */

#footer {
	color: #888;
	padding: 0;
	margin: 0;
	background: url(../images/card_shdw_b.png) no-repeat center top #eee;
}

#footer a {
	text-decoration: none;
}

#app-loading {
	display: none;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000 url('../images/loading_app.gif') no-repeat center center;
}

/* CSS3 ANIMATED TRANSITIONS													*/

/* ---------------------------------------------------------------------------- */

.gallery-pager {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.demo-card {
	background-color: #ebebeb;
	padding: 10px;
	margin: 0 5px 5px;
}

.demo-card .arup-card {
	width: 100%;
	display: block;
	margin-bottom: 1em;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.demo-card .card {
	width: 100%;
	margin-bottom: 1em;
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.demo-card .card a {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 32px;
	height: 13px;
	background: url(../images/black-dot.png) no-repeat center center;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 12px;
	font-size: 14px;
	cursor: help;
}

.demo-card .card a.issue {
	bottom: 1%;
	left: 0;
}

.demo-card .card a.quest {
	left: 10%;
	top: 4%;
	display: block;
}

.demo-card .card a.steep {
	left: -6px;
	top: 48%;
	display: block;
}

.demo-card .card a.factoid {
	display: block;
	bottom: 18%;
	left: 60%;
}

.demo-card .card a.img {
	display: block;
	bottom: 48%;
	left: 46%;
}

.demo-card .card img {
	width: 100%;
	height: auto;
}

.demo-card .content {
	padding-left: 20px;
	width: 40%;
	float: right;
}

/* CARD FORM */

#add-card {
	position: relative;
	border: 1px solid #e5e5e5;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	background: url(../images/card_shdw_b.png) no-repeat center bottom;}

#add-card .card,#add-card img.bkg {
	width: 100%;
}
#add-card #question {
	background-color: #b1b1b1;
	top: 3.8%;
	width: 80%;
	position: absolute;
	left: 7.5%;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	font-size: 21px;
	font-weight: bold;
	line-height: 100%;
	color: #fff;
	padding: 2%;
}
#name{
	margin-bottom: 6px;
}

#name input, #add-card input, #add-card textarea {
	font: bold 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border: none;
	outline: none;
	padding-right: 0;
	margin-bottom: 3px;
}

#name input{
	border: 1px solid #ebebeb;
	margin-bottom: .45em;
	font-weight: bold;
	font-size: 21px;
	padding: .2em;
}
#newcard input{
	color: #000;
	font-weight: bold;
	font-size: 24px;
	padding: .2em;
}

#add-card #question input {
	font-size: 21px;
    padding: .2em;
}

#add-card #img {
	top: 3.8%;
	position: absolute;
	left: 7.5%;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	width: 90%;
	height: 46%;
	padding-top: 27%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background: #fff url(../images/card_grid.jpg) repeat center center;
	border: 1px solid #c2dce4;
}

#add-card #img span,#add-card #img form {
	background-color: #ebebeb!important;
	padding: 5px;
	line-height: 140%;
}

#add-card #factoid {
    white-space: pre-line;
	background-color: #515153;
	width: 45%;
	position: absolute;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 2%;
	padding: 2%;
	line-height: 100%;
	color: #fff;
	height: 25%;
    right: 2.6%;
	top: 57.8%;
}

#add-card #steep {
	position: absolute;
	top: 22%;
	left: -15.1%;
	color: #fff;
	width: 30%;
	height: 30%;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
}

#add-card #steep p {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	padding: 10px 15px;
	display: inline;
}

#add-card #steep a {
	color: #fff;
	background-color: #b1b1b1;
	padding: 6px 8px 8px;
}

.ajaxupload form {
	text-align: left;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}

.ajaxupload p {
	margin-bottom: 5px;
}

#upload {
	border: none;
}

#tag-it {
	color: #000;
	border-top: 1px solid #ccc;
	padding-top: .8em;
}

label.file-holder {
	background: #fff;
	overflow: hidden;
	cursor: pointer;
}

#category {
	position: relative;
}

.social,.cat-1 {
	background-color: #39B1D9!important;
}

.technological,.cat-2 {
	background-color: #A681B2!important;
}

.economic,.cat-3 {
	background-color: #F69220!important;
}

.environmental,.cat-4 {
	background-color: #8BC53F!important;
}

.political, .cat-5 {
	background-color: #EC2027!important;
}

.social,.technological,.economic,.environmental,.political,.social a,.technological a,.economic a,.environmental a, .political a{
	color: #fff!important;
}
#vote-cloud li.social a {
	color: #39B1D9!important;
}

#vote-cloud li.technological a{
	color: #A681B2!important;
	
}

#vote-cloud li.economic a{
	color: #F69220!important;
	}

#vote-cloud li.environmental a{
	color: #8BC53F!important;
	
}

#vote-cloud li.political a{
	color: #EC2027!important;
	
}
#vote-cloud li a{
	background-color: #fff!important;
}
#vote-cloud li a.voted, #vote-cloud li a.voted:hover{
 background-color: #266eaa!important;	
 color: #fff!important;
}


a.social-b:hover,a.technological-b:hover,a.economic-b:hover,a.environmental-b:hover,a.political-b:hover{
	color: #000!important;
}

.social-to {
	color: #39B1D9!important;
	border: 1px solid #39B1D9!important;
}

.technological-to {
	color: #A681B2!important;
	border: 1px solid #A681B2!important;
}

.economic-to {
	color: #F69220!important;
	border: 1px solid #F69220!important;
	}

.environmental-to {
	color: #8BC53F!important;
	border: 1px solid #8BC53F!important;
}

.political-to {
	color: #EC2027!important;
	border: 1px solid #EC2027!important;
}
a.social-to:hover,a.technological-to:hover,a.economic-to:hover,a.environmental-to:hover,a.political-to:hover{
	color: #fff!important;
	background-color: #000;
	border-color: #000!important;
}

.social-50,.technological-50,.economic-50,.environmental-50,.political-50{
	color: #333!important;
}

.social-50 {
	background-color: #a4d7ee!important;
}
.technological-50 {
	background-color: #d1c0da!important;
}

.economic-50 {
	background-color: #f8c97f!important;
}

.environmental-50 {
	background-color: #c9e27f!important;
}

.political-50 {
	background-color: #f19490!important;
}

#vote-cloud li a:hover{
	background-color: #266eaa!important;
	color: #fff!important;
}

#add-card #question.social {
	background-color: rgba(0, 0, 255, 0.2);

/* Modern browsers */
	background: transparent url(../images/social.png) repeat!important;
}

#add-card #question.technological {
	background: transparent url(../images/technological.png) repeat!important;
}

#add-card #question.environmental {
	background: transparent url(../images/environmental.png) repeat!important;
}

#add-card #question.economic {
	background: transparent url(../images/economic.png) repeat!important;
}

#add-card #question.political {
	background: transparent url(../images/political.png) repeat!important;
}

#card-front, #card-back {
	width: 100%;
}
.card_info{
	color: #111;
}
.completed{
	color: #999;
}

p#indicator {
	margin-top: 1em;
	margin-left: 1em;
}
ul#tag-list{
	min-height: 25px;
    line-height: 25px;
    overflow: hidden;
	margin-bottom: 0;
	padding-bottom: 0;
}
ul#tag-list li{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 14px;
    line-height: 14px;
    display: block;
    float: left;
    font-size: 12px;
    margin: 4px 4px 4px 0;
    white-space: nowrap;
    background-color: #bbb;
    color: #FFF;
    padding: 3px 8px;
}

.tag_holder p{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 0;
}

.ui-dialog-buttonpane button{
	 float: right!important;
	  -moz-border-radius: 12px; -webkit-border-radius: 12px; -khtml-border-radius: 12px; border-radius: 12px;
}

/* ff bug with datepicker pushing page down */
#ui-datepicker-div {
    display: none;
}

/* ff bug with datepicker pushing page down */
#ui-datepicker-div {
    display: none;
}

